
 
 
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

    text-align: center;
  }
  
  .disclaimer {
    background-color: #f8ceceaf;
    text-align: center;
    padding: 10px;
   
  }
  .disclaimer p{
    font-size: 15px;
  }

  .social-icons{
    display:inline-block;
    
  }

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    border: 3px solid green; 
  }

  .container {
    height: 200px;
    position: relative;
   
  }
  .center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  /* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 15px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
  .column {
    width: 100%;
  }
}
  .title{
    text-align: center;
    font-size:25px ;
  }
  .welcomeColour{
    color: rgb(57, 158, 224);
  }
  body{
    background-color:whitesmoke;
  }
  p{
    font-size:18px;
  }
  .bodyText{
    font-size:18px;
  }
  .largeText {
    font-size:30px;
    color:red;
    text-align: center;
  }

  .backButton {
    background-color:rgb(187, 12, 12); /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 19px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    font-weight: bold;
  }

  .backHover:hover{
    background-color:yellowgreen;
    color: white;
    font-weight: bold;
  }




  /* nav bar */
  
  .topnav {
    overflow:hidden;
    background-color:rgb(73, 156, 230);
    position: relative;
    
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 22px;
    font-weight:700;
    display: inline;
  }
  
  .topnav a:hover {
    background-color:rgb(3, 23, 90);
    color: white;
  }
  
  .topnav-centered a {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .topnav-right {
    float: right;
  }

  @media screen and (max-width: 600px) {
    .topnav a, .topnav-right {
      float: none;
      display: block;
    }
  
    .topnav-centered a {
      position: relative;
      top: 0;
      left: 0;
      transform: none;
    }
  }

  /* navbar 2.0 */
  .nav{
    border:1px solid #ccc;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
    background-color:rgb(73, 156, 230);
}
.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 22px;
    font-weight:700;
    color: #f2f2f2;
}
.nav a:hover {
  background-color:rgb(3, 23, 90);
  color: white;
}